body{
  margin:0
}
  
.head1 {
    color : darkcyan
}

.parent {
    display: grid;
    grid-template-columns: 100px 800px;
    grid-template-rows: 60px 800px 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.header { grid-area: 1 / 1 / 2 / 3; }
.toolbar { grid-area: 2 / 1 / 4 / 2; }
/* .canvas { grid-area: 2 / 2 / 3 / 3; } */
.canvas-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
}
.footer { grid-area: 3 / 2 / 4 / 3; }

.header{background-color: #AAAAAA;}

.toolbar{
    background-color: grey;
}
.footer{background-color: red;}

img{
    background-color: white;
    max-width: 30px;
}

img:hover{
    background-color: grey
}

.selected{background-color: lightblue;}
img.selected:hover{background-color: blue}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
    margin: 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainerv {
  width: 100%;
}

.sliderv {
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
  margin: 400px 0px 0px -385px;
  margin-top: 385px;
  height: 100%;
  width: 800px;
}

.sliderv:hover {
  opacity: 1;
}

.sliderv::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.sliderv::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}